<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{ site.author-image | relative_url }}" alt="{{ site.author-name }}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{ site.author-about }}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{ '/#contact' | relative_url }}"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Me Contacter</a>
                        </div>
                        <div>
                            <a href="{{ '/cv' | relative_url }}" target="_blank" rel="noopener noreferrer"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Mon Profil et Compétences</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>