<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            <h2 class="title is-2 is-uppercase has-text-weight-bold">Contact</h2>
            <hr class="has-background-black" style="width: 50px; margin: 1rem auto;">

            <div class="columns is-centered">
                <div class="column is-half">
                    {% unless site.email == "" %}
                    <a id="contact-button" href="mailto:{{site.email}}"
                        class="button is-rounded is-uppercase is-black is-outlined has-text-weight-semibold is-fullwidth"
                        target="_blank">
                        <i class="fas fa-envelope"></i>&nbsp;&nbsp;Envoyer directement un email
                    </a>
                    {% endunless %}
                </div>
            </div>

            <br>

            <div class="columns is-centered">
                <div class="column is-half has-text-left">
                    <form>
                        <div class="field">
                            <label class="label">Nom complet</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Votre nom">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="email" placeholder="Votre email">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Message</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Votre message..."></textarea>
                            </div>
                        </div>
                        <div class="control has-text-centered">
                            <button class="button is-black is-rounded" type="button">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>

            <hr>

            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black">
                Retrouvez-moi sur les réseaux
            </h3>
            <div class="column is-full is-size-3">
                {% unless site.linkedin_username == "/" or site.linkedin_username == "" %}
                <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-black mx-2"><i class="fab fa-linkedin"></i></a>
                {% endunless %}
                
                {% unless site.github_username == "/" or site.github_username == "" %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black mx-2"><i class="fab fa-github"></i></a>
                {% endunless %}
                
                {% unless site.behance_username == "/" or site.behance_username == "" %}
                <a href="http://www.behance.com/{{site.behance_username}}" target="_blank" class="has-text-black mx-2"><i class="fab fa-behance"></i></a>
                {% endunless %}
                
                {% unless site.dribbble_username == "/" or site.dribbble_username == "" %}
                <a href="http://www.dribbble.com/{{site.dribbble_username}}" target="_blank" class="has-text-black mx-2"><i class="fab fa-dribbble"></i></a>
                {% endunless %}
            </div>
        </div>
    </div>
</section>