<nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">
    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item" href="{% if page.layout == 'default' %}{{ '/#' | relative_url }}{% else %}{{ '/' | relative_url }}{% endif %}">
                <strong>{{ site.title }}</strong>
            </a>
            <div class="navbar-burger" data-target="navbar-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-menu has-background-black" id="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item {% if page.layout == 'default' %}is-active{% endif %}"
                   href="{% if page.layout == 'default' %}{{ '/#' | relative_url }}{% else %}{{ '/' | relative_url }}{% endif %}">Accueil</a>

                <a class="navbar-item" href="{{ '/#about' | relative_url }}">À propos</a>

                <a class="navbar-item" href="{{ '/#contact' | relative_url }}">Contact</a>

                <a class="navbar-item" href="{{ '/project/' | relative_url }}">Projets</a>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>